{
    "semi": true,
    "singleQuote": true,
    "tabWidth": 2,
    "useTabs": false,
    "printWidth": 100,
    "trailingComma": "es5",
    "arrowParens": "avoid",
    "bracketSpacing": true,
    "endOfLine": "lf",
    "plugins": [
        "prettier-plugin-tailwindcss",
        "prettier-plugin-organize-imports"
    ]
}